@page
@model Portal.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Portal</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4">Welcome @Model.UserName</h1>
        </div>

        <!-- Display Containers List -->
        @if (Model.Containers != null && Model.Containers.Any())
        {
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3">Server Instances</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Instance ID</th>
                                    <th scope="col">Server Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">IP Address</th>
                                    <th scope="col">Port</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Deployment Name</th>
                                    <th scope="col">Pause</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var container in Model.Containers)
                                {
                                    <tr>
                                        <td><a href="/Containers/GetContainerDetails/@container.InstanceId">
                                                @container.InstanceId</a>

                                        </td>
                                        <td>@container.ServerType</td>
                                        <td class="status @container.Status">@container.Status</td>

                                        <td>@container.IpAddress</td>
                                        <td>@container.Port</td>
                                        <td>@container.Created.ToString("g")</td>
                                        <td>@container.Name</td>
                                        <td>
                                            <form method="post" asp-page-handler="PauseInstance">
                                                @Html.AntiForgeryToken() <!-- Anti-Forgery token added -->
                                                <input type="hidden" name="InstanceId" value="@container.InstanceId" />
                                                <button type="submit" class="btn btn-warning">Pause</button>
                                            </form>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        No server instances available.
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- JavaScript Dependencies: move any inline JavaScript to a separate file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pzjw8f+ua7Kw1TIqE7anJf6b3zH5pbeVxknzYlbR5STIbYQb6P6afkFeJQuo5eNm"
        crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script> <!-- Custom JavaScript file -->

</body>
@*  add inline js do alert  *@
<script>
    @* alert("Take Care inline js is not good practice"); *@
</script>

</html>
